:root {
    --fadednav: rgba(0, 0, 0, 0.6);
	--black: #000;
	--white: #fff;
    --faded: #d9dadc;
    --linkgreen: #1DB954;
    --hvrgreen: #1ed760;
    --homebgcolor:#2D46B9;
    --secondary: #919496;
    --premiumblue: #1d75de;
}
html{
    scroll-behavior: smooth;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
}
.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.opacity{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.opacity.opa {
    background-color: var(--fadednav);
    z-index: 8;
    overflow-x: hidden;
}
body.opa{
    overflow-y: hidden;
}


.home_main{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: -80px;
}
.hm_gradient-1{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #509BF5;
    background-image: -webkit-gradient(linear, left top, right top, from(#c074b2), to(#8ab5e8));
    background-image: linear-gradient(90deg, #c074b2, #8ab5e8);
}
.hm_gradient-2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
    background-image: linear-gradient(transparent, #000);
}
.hm_cont{
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-top: 235px;
    position: relative;
}
.home_text{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
}
.green_btn{
    display: inline-block;
    margin: 32px 0;
    font-size: 16px;
    line-height: 1;
    border-radius: 50px;
    padding: 19px 56px 21px;
    color: var(--white);
    background-color: #1DB954;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
}
.green_btn:hover{
    background-color: var(--hvrgreen);
}
.black_btn{
    display: inline-block;
    margin: 40px 0;
    font-size: 14px;
    line-height: 1;
    border-radius: 50px;
    padding: 17px 48px;
    color: var(--white);
    background-color: rgb(25, 20, 20);
    border: 2px solid rgb(25, 20, 20) !important;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
}
.black_btn:hover{
    transform: scale(1.04);
    background-color: rgb(83, 79, 79);
}
.home_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 233px 233px;
    column-gap: 16px;
    row-gap: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}
.hm_card{
    position: relative;
    cursor: pointer;
}
.box img {
    width: 100%;
    height: 233px;
    object-fit: cover;
}
.box_details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
}
.play-icon{
    width: 25px;
    height: 25px;
}
.hm_card:hover .box_details{
    opacity: 1;
}
.arrow-scroll-down{
    width: 32px;
    height: 43px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 120px;
}
.arrow-scroll-down svg{
    fill: #fff;
    width: 32px;
    height: 43px;
    position: relative;
}
.last_listen{
    background-color: #1E3264;
    background-image: -webkit-gradient(linear, left top, right top, from(#2c5e92), color-stop(80%, #552f6d));
    background-image: linear-gradient(90deg, #2c5e92 0%, #552f6d 80%);
}
.last_listen .container{
    padding-top: 60px;
    padding-bottom: 160px;
}
.last_listen .ll_row{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 30px;
}
.last_listen .ll_card{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px;
    position: relative;
}
.last_listen .ll_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.last_listen .ll_card .txt{
    position: relative;
    z-index: 3;
}
.last_listen .ll_card .img{
    position: relative;
    z-index: 2;
    position: relative;
    left: 15px;
    bottom: 25px;
}
.last_listen .bg_filt{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    opacity: 0.05;
}
.home_links{
    padding-top: 60px;
    padding-bottom: 80px;
}
.home_links .container.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}
.home_links .account_link,
.home_links .app_link,
.home_links .web_link{
    display: flex;
    flex-direction: column;
}
.home_links .account_link a,
.home_links .app_link a,
.home_links .web_link a{
    margin-top: auto;
}
.premium-head{
    background-color: var(--premiumblue);
    padding-top: 80px;
}
.premium-head .container{
    padding: 141px 15px;
}
.why-premium{
    padding: 75px 0px 110px 0px;
}
.why-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    margin-top: 72px;
}
.premium-plans{
    padding: 75px 0px;

    background: rgb(248, 248, 248);
}
.plans-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    margin-top: 75px;
    margin-bottom: 132px;
}
@media screen and (max-width: 1200px) {
	.container {
		width: 970px;
	}
    .Everywhere .platform_name,
    .Everywhere .platform_link{
        display: block;
    }
    .top-solution-inner br{
        display: none;
    }
    .premium-head .container {
        padding: 72px 15px;
    }
}
@media screen and (max-width: 992px) {
	.container {
		max-width: 750px;
		width: 100%;
    }
	.navigation {
		display: none;
    }
    .profile_icon-mobile{
        display: flex;
    }
	.container-togg {
		display: inline-block;
    }
    .usericon{
        width: 34px;
        height: 34px;
        display: inline-block;
        margin-right: 15px;
    }
    .hm_cont {
        grid-template-columns: 1fr;
        margin-top: 180px;
    }
    .home_text {
        align-items: center;
    }
    .hm_cont h1 {
        font-size: 64px;
        margin-top: 5px;
    }
    .last_listen .ll_row {
        grid-template-columns: 1fr;
        row-gap: 100px;
        padding-right: 15px;
    }
    .last_listen .ll_card {
        grid-template-rows: 300px;
        grid-template-columns: 55% 45%;
    }
    .last_listen h1 {
        font-size: 40px;
    }
    .last_listen .ll_card span h2 {
        width: 118%;
    }
    .title-1 {
        font-size: 40px;
    }
    .home_links .container.links {
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
    }

    .top-solution {
        grid-template-columns: 1fr;
        padding: 20px 0 40px;
        text-align: left;
    }
    .top-solution a {
        margin-bottom: 5px;
    }
    .links_boxs {
        grid-template-columns: 1fr;
    }
    .link_box {
        position: relative;
        border-bottom: 1px solid #c1c3c6;
    }
    .link_box::after {
        content: ">";
        position: absolute;
        top: 21px;
        right: 16px;
    }
    .link_box span {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #eee;
    }
    .link_box span a:first-child{
        padding-top: 16px;
    }
    .link_box h3 {
        font-size: 20px;
        line-height: 28px;
    }
}
@media screen and (max-width: 768px) {
    .Everywhere .platform_name, .Everywhere .platform_link {
        display: flex;
        flex-direction: column;
        padding-inline-start: 0px;
    }
    .Everywhere .platform_name li:not(:last-child)::after, 
    .Everywhere .platform_link li:not(:last-child)::after {
        content: none;
    }
    .home_cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .box img {
        height: 100%;
    }
	.home_links .container.links {
        grid-template-columns: 1fr;
    }
    .premium-head h1 {
        font-size: 48px;
    }
    .title-2 {
        font-size: 24px;
    }
    .title-1 {
        font-size: 32px;
    }
    .plans-text h2 {
        font-size: 32px;
    }
}
@media screen and (max-width: 576px) {
    .home_text {
        padding-left: 0px;
        padding-right: 0px;
    }
    .hm_cont h1 {
        font-size: 48px;
    }
    .hm_cont h3 {
        font-size: 20px;
        text-align: center;
    }
    .green_btn {
        margin-top: 20px;
        font-size: 14px;
        padding: 16px 42px;
    }
    .home_cards {
        grid-template-columns: 50% 50% 50% 50% 50% 50%;
        grid-template-rows: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
        overflow-x: scroll;
    }
    .box img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .arrow-scroll-down {
        width: 26px;
        height: 32px;
        padding-top: 10px;
        padding-bottom: 80px;
    }
    .home_links {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .title-1 {
        font-size: 32px;
    }
    .home_links .container.links {
        grid-template-columns: 1fr;
    }
    .a_link {
        font-size: 12px;
    }
	.last_listen .container {
        padding-top: 30px;
        padding-bottom: 80px;
    }
    .last_listen h1 {
        font-size: 32px;
    }
    .last_listen .ll_row {
        row-gap: 75px;
    }
    .last_listen .ll_card {
        grid-template-rows: auto;
    }
    .last_listen .ll_card span h5 {
        margin: 12px 0 12px -7px;
        font-size: 11px;
        line-height: 16px;
    }
    .last_listen .ll_card span h2 {
        margin-left: -15px;
        width: 121%;
        padding: 8px 40px;
        font-size: 18px;
    }
}
